:root {
  --hover-bg: #cbcbcb;
}

body {
  background: #212121;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: 30px;
}

header .nav {
  min-height: 80px;
  overflow: hidden;
  background: #fff;
}

header .logo h2, 
header .logo span, 
header .logo p {
  font-size: 16px;
  display: inline-block;
  margin: 0;
}

header .logo h2 {
  font-weight: 800;
  font-size: 18px  
  /* text-transform: uppercase; */
}

header .logo .icone {
  color: #bfbfbf;
} 

header .logo p {
  color: #777777;
}


/* --- Menu --- */
header .menu {
  padding: 0;  
}

header .menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  /* padding: 0 30px;         */
  width: 120px;
  justify-content: center;
}

header .menu a div span {
  font-weight: 600;
}

header .menu .color-1 {
  background: #3da5e2;
}

header .menu .color-2 {
  background: #005385;
}

header .menu .color-3 {
  background: #003855;
}

header .menu .color-1:hover {
  background: #0786d2;
  color: var(--hover-bg)
}

header .menu .color-2:hover {
  background: #00426a;
  color: var(--hover-bg)
}

header .menu .color-3:hover {
  background: #002d44;
  color: var(--hover-bg)
}

/* --- Slider --- */

.slider {
  /* background:#fff; */  
  margin-bottom: 0px 
}

.slider  .col {
  padding: 0px;
}

/* --- portfolio --- */
.portfolio {
  background: #fff;
  border-top: 5px solid #3da5e2;
  padding: 0 20px;
}

.portfolio .titulo {
  padding: 40px 0;
  text-align: center;
  color: #3da5e2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300
}

.portfolio .galeria .conteudo-imagem {
  margin-bottom: 40px;
  max-height: 180px;
  overflow: hidden;
}

.portfolio .galeria .conteudo-imagem a {
  display: inline-block;
  background: #3da5e2;
}

.portfolio .galeria .conteudo-imagem:hover img {
  opacity: .3;
}

.portfolio .modal-dialog {
  width: 100%;
  height: 100%;
  max-height: 100%;
}


/* --- Sobre --- */
.sobre {  
  background: #fff;
  padding: 50px 30px 50px 30px;  
}

.sobre .foto {
  text-align: center;
}

.sobre .foto img {
  margin-bottom: 30px;
}

.sobre .foto .nome {
  color: #545454;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1px;
}

.sobre .info .titulo {
  color: #005385;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 20px
}

.sobre .info .resumo {
  letter-spacing: 1px;
}

.sobre .info .label {
  font-size: 18px;
  font-weight: 600;
  color: #005385;
  margin-bottom: 10px;
}

.sobre .info .progress {
  background: #005383;
  border-radius: 0;
  margin-bottom: 15px;
  height: 20px;
  
}

.sobre .info .progress-bar {  
  background: #3da5e2;
  text-align: left;
  padding-left: 30px;
}

/* --- Contato --- */

.contato {
  background: #dee2e6;
  padding: 40px 0;
  border-top: 1px solid #cbcbcb;
  margin-bottom: 0px;
}

.contato .titulo {
  color: #003855;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center; 
} 

.contato .form-group {
  margin-bottom: 0;
}

.formulario input[type='text'],
.formulario input[type='email'],
.formulario textarea {
  padding: 15px;
  border: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.formulario textarea {
  height: 150px;
  min-height: 150px;
  max-height: 250px;  
}

.formulario .botao {
  background: #3da5e2;
  border: none;
  padding: 7px 36px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  width: auto;
  border-radius: 3px;
}

.formulario .botao:hover {
  background: #000;
}

.redes-sociais {
  padding: 40px 0;
  margin-bottom: 40px;
  background: var(--gray-dark);
}

.redes-sociais .icone {
  width: 70px;
  height: 70px;
  font-size: 40px;  
  line-height: 70px;
  text-align: center;
  color: var(--light);  
  display: inline-block;
  margin: 0px 20px;
  text-decoration: none;
  border-radius: 100px;
  transition: all .3s ease;
}

.redes-sociais .twitter {
  background: #1da1f2;
}

.redes-sociais .twitter:hover {
  background: #1885c9;
  color: var(--hover-bg);
}

.redes-sociais .instagram {
  background: #833ab4;
}

.redes-sociais .instagram:hover {
  background: #5b267e;
  color: var(--hover-bg);
}

.redes-sociais .facebook {
  background: #3b5998;
}

.redes-sociais .facebook:hover {
  background: #273b64;
  color: var(--hover-bg);
}


/* --- Mediaqueries --- */

/* Dispositivo lg */
@media screen and (max-width: 1199) {}

/* Dispositivo lg */
@media screen and (max-width: 991px) {
  .logo {
    height: 76px;
  }

  .menu {
    min-height: 76px;
  }

  header .menu a {
    width: 33.333%;
  }

  .menu a div {
    width: 100%;
  }

  .portfolio .galeria .conteudo-imagem:nth-child(1) { order: 1;}
  .portfolio .galeria .conteudo-imagem:nth-child(2) { order: 3;}
  .portfolio .galeria .conteudo-imagem:nth-child(3) { order: 6;}
  .portfolio .galeria .conteudo-imagem:nth-child(4) { order: 2;}
  .portfolio .galeria .conteudo-imagem:nth-child(5) { order: 5;}
  .portfolio .galeria .conteudo-imagem:nth-child(6) { order: 4;}
  .portfolio .galeria .conteudo-imagem:nth-child(7) { order: 7;}  

  .modal .modal-dialog {
    width: 90%;
  }

  .modal .modal-dialog .modal-content img {
    width: 100%;
  }
}

/* Dispositivo md */
@media screen and (max-width: 575px) {
}

/* Dispositivo sm */
@media screen and (max-width: 575px) {
  header {
    margin-top: 0;
    text-align: center;
  }

  header .logo h2, 
  header .logo p {
    font-size: 15px
  }

  .redes-sociais .icone {
    width: 50px; 
    height: 50px;
    line-height: 50px;
    font-size: 30px;

  }
}
